<footer id="main-footer" class="row container">
  <div class="col-1" (click)="passwordModal.show()">
    <fa-icon [icon]="['fas', 'user-cog']"></fa-icon>
  </div>
</footer>

<!-- PASSWORD MODAL  -->
<div bsModal #passwordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title pull-left">{{'calendar.modalAdminTitle' | translate}}</h4>
        <button type="button" class="close pull-right" (click)="passwordModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <div class="input-group mb-3">
          <input [type]="passwordType" class="form-control" placeholder="{{'calendar.passwordPlaceholder' | translate}}"
            [(ngModel)]="adminPassword" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="enterAdminMode()">
              <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
            </button>{{showAlert}}
            <div *ngIf="showAlert === true" class="alert alert-danger" role="alert">{{'calendar.alertWrongPassword' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
