<div class="container mt-5">
  <div class="col-5 ml-auto mr-auto">
    <div class="header text-center mb-5">
      <img class="w-50 pt-5 mt-5" src="/images/taskUp_logo_2.png">
    </div>
    <button class="btn btn-danger w-100 text-center mt-3" [ladda]="isLoading" (click)="googleLogin()">
      <fa-icon [icon]="['fab', 'google']" class="mr-3"></fa-icon>Google Login
    </button>
    <button class="btn btn-light w-100 text-center mt-3" [ladda]="isLoading" (click)="googleRegistration()">
      <fa-icon [icon]="['fab', 'google']" class="mr-3"></fa-icon>Google Registration
    </button>
  </div>
</div>
