<div class="container">

  <div class="row">
    <div class="col-7 border-right">
      <h1>{{'admin.welcome' | translate}} utente</h1>
      <p>{{'admin.message' | translate}}</p>
    </div>

    <div class="col-5 px-5">
      <!--
      <h1>{{'admin.yourSettings' | translate}}</h1> -->
      <div class="mb-5 setting-box">
        <h3 class="my-4">Password</h3>
        <p>{{'admin.passwordMessage' | translate}}</p>
        <div [@slideInDown]="changePassword === true">
          <div *ngIf="changePassword === true" class="new-password text-center mb-3">
            <div class="input-group mb-3">
              <input [type]="passwordType" class="form-control" placeholder="{{'admin.passwordPlaceholder' | translate}}"
                [(ngModel)]="newPassword" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="button" id="button-addon2" (click)="changePasswordVisibility()">
                  <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button *ngIf="changePassword === true" class="btn btn-light m-auto mt-4" [disabled]="newPassword === undefined || newPassword.length < 1"
              (click)="changeAdminPassword()">{{'admin.change' | translate}}</button>
          </div>
        </div>
        <div class="text-center mt-3">
          <button *ngIf="wannaChangePasswod === true" (click)="changePassword = !changePassword; wannaChangePasswod = false"
            class="btn btn-primary m-auto">{{'admin.wannaChangePassword'
            | translate}}</button>
          <div [@fadeIn]="passwordUpdatedMsg === true">
            <small class="mt-5 text-primary" [@slideInDown]="passwordUpdatedMsg === true" *ngIf="passwordUpdatedMsg === true">{{'admin.passwordUpdateMsg'
              | translate}}</small>
          </div>
        </div>

      </div>
      <div class="my-5 setting-box">
        <h3 class="my-4">{{'admin.selectLanguage' | translate}}</h3>
        <div class="row text-center m-auto mb-3">
          <div *ngFor="let lang of availableLanguages" class="custom-control custom-radio col-6">
            <input type="radio" [id]="lang.name" name="language" class="custom-control-input" [(ngModel)]="selectedLanguage"
              [value]="lang.value" (ngModelChange)="radioNotTouched = false; selectedLanguage = $event">
            <label class="custom-control-label radio-tertiary" [for]="lang.name">{{lang.label}}</label>
          </div>
        </div>
        <div class="text-center mt-3">
          <button (click)="changeSelectedLanguage()" class="btn btn-primary m-auto" [disabled]="radioNotTouched">{{'admin.change'
            | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
