<div class="h-100 row no-gutters">
  <div class="row page-centered">
    <div class="col-1 border-right day-tabs">
      <div class="mon d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'mon'">{{"general.mon" | translate}}</div>
      <div class="tue d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'tue'">{{"general.tue" | translate}}</div>
      <div class="wed d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'wed'">{{"general.wed" | translate}}</div>
      <div class="thu d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'thu'">{{"general.thu" | translate}}</div>
      <div class="fri d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'fri'">{{"general.fri" | translate}}</div>
      <div class="sat d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'sat'">{{"general.sat" | translate}}</div>        <div class="sun d-flex align-items-center justify-content-center" (click)="selectedTab = 'sun'">{{"general.sun" | translate}}</div>
    </div>
    <div class="col-6 border-right px-3 ">
      <h3>{{'edit.'+selectedTab+'Schedule' | translate}}</h3>
      <task-bar
        *ngIf="selectedTab === 'mon'"
        [tasks]="mondayTasks" [addList]="allTasks"
        [moveUpDown]="true"
        [addButton]="false"
        [deleteButton]="true"
        [isSubtask]="false"
        [subTaskButton]="true"></task-bar>
     <!--
      <schedule *ngIf="selectedTab === 'mon'" [day]="'mon'" [tasks]="mondayTasks" [addList]="allTasks"></schedule> -->
      <div class="row">
        <button (click)=saveSchedule()></button>
      </div>
    </div>
    <div class="col-5 px-3 ">
      <h1>{{'edit.allTasks' | translate}}</h1>
      <task-bar
        [tasks]="allTasks" [addList]="mondayTasks"
        [moveUpDown]="false"
        [addButton]="true"
        [deleteButton]="false"
        [isSubtask]="false"
        [subTaskButton]="false"></task-bar>
    </div>
  </div>
</div>
