<div class="container">
  <div class="row">
    <div class="col-1 border-right day-tabs">
      <div class="mon d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'mon'">{{"general.mon" | translate}}</div>
      <div class="tue d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'tue'">{{"general.tue" | translate}}</div>
      <div class="wed d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'wed'">{{"general.wed" | translate}}</div>
      <div class="thu d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'thu'">{{"general.thu" | translate}}</div>
      <div class="fri d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'fri'">{{"general.fri" | translate}}</div>
      <div class="sat d-flex align-items-center justify-content-center border-bottom " (click)="selectedTab = 'sat'">{{"general.sat" | translate}}</div>        <div class="sun d-flex align-items-center justify-content-center" (click)="selectedTab = 'sun'">{{"general.sun" | translate}}</div>
    </div>
    <div class="col-6">
      <schedule *ngIf="selectedTab === 'mon'" [day]="'mon'" [tasks]="mondayTasks"></schedule>
    </div>
    <div class="col-5">
      <section >
        <h1>all tasks schedule</h1>
          <div *ngFor="let task of mondayTasks; let i = index" class="row justify-content-between">
            <div>
              <img [src]="task.img" class="rounded-circle mr-3" />
              <span class="">{{task.name}}</span>
            </div>
            <div>
              <button (click)="move(task, i, 'up')">Up</button>
              <button (click)="move(task, i, 'down')">Down</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
