@import ~style/variables

$taskWidth: 100px
$buttonWidth: 30px

.mon
  border-color: $monColor
.tue
  border-color: $tueColor

.complexTask
  box-shadow: inset 0 0 0 4px $bg
.completed
  //box-shadow: inset 0 0 0 4px $green
  border-color: $green
.task-col
  flex-direction: column
  margin-right: 45px
  width: $taskWidth
  position: relative
  .done,.skip, .subtask
    width: $buttonWidth
    height: $buttonWidth
    color: #fff
    position: absolute
    right: -10px
  .done
    background-color: $green
    top: 5px
  .skip
    background-color: $red
    top: 65px
  .subtask
    background-color: $bg
    border: 1px solid #fff
    top: 35px
  .main-task
    width: $taskWidth
    height: $taskWidth
    border-width: 3px
    border-style: solid
    background-color: #ccc
    margin: 20px 45px 0 0
    position: relative
  .undone
    border-color: #989898
    opacity: 0.5
    -webkit-filter: grayscale(100%) // Safari 6.0 - 9.0
    filter: grayscale(100%)
