<div
  [ngClass]="{'row': direction === 'horiz', 'nothing': direction === 'vert'}"
  [@slideInDown]="steps.lenght">
  <div class="task-col" *ngFor="let task of steps; index as i;">
    <div class="main-task d-flex justify-content-center align-items-center rounded-circle"
      [ngClass]="{'mon': day === 'mon', 'tue': day === 'tue'}"
      [ngClass]="{'task-col': task.steps}"
      [class.undone]="task.selected === false && i > 0"
      (click)="selectThisStep(task, i)">
      {{task.name}}
      <div class="done"></div>
      <div class="skip"></div>
    </div>
    <div *ngIf="task.stepsVisible === true">
      <tree-structure *ngIf="task.steps" [day]="day" [steps]="task.steps" direction="horOrVert()"></tree-structure>
    </div>
  </div>
</div>
