@import ~style/variables

.mon-active
  background-color: $monColor
.tue-active
  background-color: $tueColor
.wed-active
  background-color: $wedColor
.thu-active
  background-color: $thuColor
.fri-active
  background-color: $friColor
.sat-active
  background-color: $satColor
.sun-active
  background-color: $sunColor
.week-menu
  height: 80px