<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="mon" (click)="selectedTab = 'mon'">M</div>
      <div class="tue" (click)="selectedTab = 'tue'">M</div>
      <div class="wed" (click)="selectedTab = 'wed'">M</div>
      <div class="thu" (click)="selectedTab = 'thu'">M</div>
      <div class="fri" (click)="selectedTab = 'fri'">M</div>
      <div class="sat" (click)="selectedTab = 'sat'">M</div>
      <div class="sun" (click)="selectedTab = 'sun'">S</div>
    </div>
    <div class="col-5">
      <section *ngIf="selectedTab === 'mon'">
        <h1>Monday schedule</h1>
        <div *ngFor="let task of mondayTasks; let i = index">
          <img [src]="task.img" class="rounded-circle mr-3"/>
          {{task.name}}
          <button (click)="move(task, i, 'up')">Up</button>
          <button (click)="move(task, i, 'down')">Down</button>
        </div>
      </section>
    </div>
    <div class="col-5"></div>
  </div>
</div>
